@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color:#9c428d;
    text-align: center;
    font-family: "EB Garamond", serif;
    font-weight: 500;
}
.text{
    color:rgba(240, 248, 255, 0.823);
}
.head{
    color:rgba(255, 251, 0, 0.911);
    font-size: 300%;
}
p{
    font-size: 130%;
}
.btn{
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 110%;
    cursor: pointer;
    border-radius: 5px;
    
}
.btn:hover{
    background-color:#c955b6;
    color:rgba(240, 248, 255, 0.823);
}